# Workshop 2-1 : การจัดการข้อมูลสูญหายด้วยการลบทิ้ง
ให้ทำการนำเข้าข้อมูล penguins.csv เข้า Google Colab โดยใช้ pandas และอ่านไฟล์ csv นี้ เก็บไว้ที่ตัวแปร penguin

In [ ]:
import pandas as pd
a = 1

penguin = pd.read_csv("/content/penguins.csv")
penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

แสดงรายละเอียดของข้อมูลนี้ โดยใช้คำสั่ง info()

In [ ]:
penguin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     338 non-null    float64
 3   bill_depth_mm      339 non-null    float64
 4   flipper_length_mm  340 non-null    float64
 5   body_mass_g        338 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

อธิบายค่าทางสถิติของ penguin ด้วยคำสั่ง describe()

In [ ]:
penguin.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      338.000000     339.000000         340.000000   338.000000
mean        43.920414      17.146608         200.958824  4205.029586
std          5.471645       1.981500          14.087320   803.507149
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.550000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.250000  4768.750000
max         59.600000      21.500000         231.000000  6300.000000

In [ ]:
result = pd.isnull(penguin["sex"])
penguin[result]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,NaN,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

ทำการลบแถวที่มีค่าว่างด้วยคำสั่ง dropna()

In [ ]:
data = pd.DataFrame(penguin)
new_data = data.dropna()
new_data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [ ]:
data = pd.DataFrame(penguin)
new_data = data.dropna(subset=['sex'])
new_data[200:] # แสดงผลตั้งแต่บรรทัดที 200 เป็นต้นไป

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
206,Chinstrap,Dream,42.5,17.3,187.0,3350.0,FEMALE
207,Chinstrap,Dream,52.2,NaN,197.0,3450.0,MALE
208,Chinstrap,Dream,45.2,16.6,191.0,3250.0,FEMALE
209,Chinstrap,Dream,49.3,19.9,203.0,4050.0,MALE
210,Chinstrap,Dream,50.2,18.8,202.0,3800.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [ ]:
data = pd.DataFrame(penguin)
data.dropna(axis='columns')

    species     island
0    Adelie  Torgersen
1    Adelie  Torgersen
2    Adelie  Torgersen
3    Adelie  Torgersen
4    Adelie  Torgersen
..      ...        ...
339  Gentoo     Biscoe
340  Gentoo     Biscoe
341  Gentoo     Biscoe
342  Gentoo     Biscoe
343  Gentoo     Biscoe

[344 rows x 2 columns]

In [ ]:
penguin.isnull().any()

species              False
island               False
bill_length_mm        True
bill_depth_mm         True
flipper_length_mm     True
body_mass_g           True
sex                   True
dtype: bool

In [ ]:
bill_length_mm = penguin["bill_length_mm"].mean()
bill_depth_mm = penguin["bill_depth_mm"].mean()
flipper_length_mm = penguin["flipper_length_mm"].mean()
body_mass_g = penguin["body_mass_g"].mean()
body_mass_kg = penguin["body_mass_g"].mean()



penguin["species"].fillna("unknown", inplace = True)
penguin["island"].fillna("unknown", inplace = True)
penguin["bill_length_mm"].fillna(bill_length_mm, inplace = True)
penguin["bill_depth_mm"].fillna(bill_depth_mm, inplace = True)
penguin["flipper_length_mm"].fillna(flipper_length_mm, inplace = True)
penguin["body_mass_g"].fillna(body_mass_g, inplace = True)
penguin["body_mass_g"].fillna(body_mass_kg, inplace = True)

penguin = penguin.dropna()

print(penguin.to_string())

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE